<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">
    Gifs app
  </h3>


  <br>

  <div *ngIf="historial.length > 0">
    <h6 class="text-light text-center"> HISTORIAL </h6>

    <hr class="text-light">

    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action fondo-historial-elemento btn-historial"
        *ngFor="let item of historial" (click)="buscar(item)">
        {{item | titlecase }}
      </a>
    </div>
    <hr class="text-light">

    <div class="contenedor-btn-vaciar">
      <button (click)="vaciarHistorial()" class="btn-vaciar">Vaciar</button>
    </div>

  </div>

</div>
